:root{
    --main-color:#ff9f0d;
    --text-color:#fff;
    --other-color:#212121;
    --second-color:#9e9e9e;
    --bg-color:#111111;
    --logo-line-color:#fff;

    --big-font:4.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}
@media (max-width: 1024px){
    ul li a{
        display: none;
    }
    .imgAnimation{
        width: 250px;
    }
    #menu{
        display:block;
        opacity: 1;
        cursor: pointer;
    }
    nav ul li a{
        display:block;
    }
    nav ul{
        display:flex;
        flex-direction: column;
    }
    nav{
        height: 100vh;
        background: var(--other-color);
        width:80%;
        position:absolute;
        top:0;
        left:-100%;
        z-index:100;
    }
}
@media(max-width:860px){
        .presentation{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        display:flex;
        flex-direction:column;
        padding:1rem 0;
        gap:1rem;
    }
}
@media(max-width:443px){
      .imgAnimation{
        width: 80%;
    }
}