
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto","Poppins";
    color: var(--text-color);
}
:root{
    --main-color:#ff9f0d;
    --text-color:#fff;
    --other-color:#212121;
    --second-color:#9e9e9e;
    --bg-color:#111111;
    --logo-line-color:#fff;

    --big-font:4.5rem;
    --h2-font:2.6rem;
    --p-font:1.1rem;
}
body{
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    overflow-x: hidden;
}
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--main-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 0;
    height: 0;
    text-align: center;
    padding: 0;
    border: none;
    animation: logoAnimation 7s ease-in-out infinite;
    -webkit-animation: logoAnimation 7s ease-in-out infinite;
}
.loader i{
 font-size: min(var(--h2-font),7vw);
 color: var(--text-color);
 animation: cdcolor 5s ease-in-out infinite alternate;
 -webkit-animation: cdcolor 5s ease-in-out infinite alternate;
}
.loader h2{
    font-size: min(var(--h2-font),7vw);
}
@keyframes logoAnimation {
    from{
        width: 0;
        height: 0;
    }
    to{
    width: clamp(150px,200px , 250px);
    height: clamp(50px, 100px, 100px);
    background: var(--logo-line-color);
    color: var(--main-color);
}
}
@keyframes cdcolor {
    from{
      color: var(--logo-line-color);
    }
    to{
  color: var(--other-color);
}
}
.displaynone{
    opacity: 0;
    display: none;
    pointer-events: none;
    transition: 1.5s ease-out;
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    -ms-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    background: var(--other-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo i{
    color: var(--main-color);
    font-size: 1.4rem;
}
.logo h2{
    font-size: 1.4rem;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul li a{
    font-weight: 550;
    font-size: 1.1rem;
    position: relative;
}
nav ul li a::before{
        content: '';
        position: absolute;
        bottom: -.4rem;
        left: 0;
        width:0;
        height:0;
        background:var(--main-color);
        transition: .9s width;
        -webkit-transition: .9s width;
        -moz-transition: .9s width;
        -ms-transition: .9s width;
        -o-transition: .9s width;
}
nav ul li a:hover::before{
    width: 100%;
    height: 3px;
}
.active{
    position: relative;
}
.active::before{
        content: '';
        position: absolute;
        bottom: -.4rem;
        left: 0;
        width:100%;
        height:3px;
        background:var(--main-color);
    }
#menu{
    display: none;
    opacity: 0;
}
.btnnav{
    background: var(--main-color);
    box-shadow: 4px 3px 8px var(--main-color);
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.presentation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


.presentation .left h1{
    font-size: clamp(3rem,4vw,4.6rem);
}
.presentation .left span{
    color: var(--main-color);
}
.btns-left{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;

}
.btns-left a:first-child{
    background: var(--other-color);
    padding: .5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    color: var(--main-color);
    font-weight: 550;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.btns-left a:first-child:hover{
    background: var(--main-color);
    color: var(--other-color);
}
.btns-left a:first-child span i{
    color: var(--main-color);
}
.btns-left a:last-child{
    color: var(--main-color);
    position: relative;
}
.btns-left a:last-child::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--main-color);
    width: 100%;
    height: 3px;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.btns-left a:last-child:hover::before{
    width: 0;
}
.imgAnimation{
    animation: animationturnImage 60s linear infinite ;
    -webkit-animation: animationturnImage 60s linear infinite ;
}
@keyframes animationturnImage {
    from{
        transform: rotate(0turn);
        -webkit-transform: rotate(0turn);
        -moz-transform: rotate(0turn);
        -ms-transform: rotate(0turn);
        -o-transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
}
}
.info-surnous{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    width: 100%;
    place-items: center;
    padding: 2rem 1rem;
    gap: 2rem;
}
.info-surnous .box{
    background: var(--other-color);
    padding: 2rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    
}
p small{
    color: var(--second-color);
}
.story{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 1rem;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.story .right{
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.story .right p{
    color: var(--second-color);
    width: 80%;
}
.story h2{
    font-size: clamp(1.5rem,4vw,2rem);
    flex-wrap: wrap;
    width: 80%;
}
.story .right a{
    padding: .4rem;
    background: var(--other-color);
    width: fit-content;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}
.story .right a:hover{
    background: var(--main-color);
    color: var(--other-color);
}
.shop{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 0;
    gap: 2rem;
    text-align: center;
}
.shop h3{
    color: var(--main-color);
}
#client{
    text-align: center;
    margin: 1rem;
}
.clients{
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 2rem;
}
.client{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background: var(--other-color);
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}
.client-info{
    display:flex;
    gap:1rem;
    align-items: center;
}
.client-info .right{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    text-align:center;
}
.client-info img{
    width:50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    aspect-ratio: 1/1;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.contact{
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.contact h2{
    color: var(--main-color);
}
.contact p{
    color: var(--second-color);
}
.reseaux a i:hover{
    color:var(--main-color);
    transition:.8s;;
    -webkit-transition:.8s;
    -moz-transition:.8s;
    -ms-transition:.8s;
    -o-transition:.8s;
}
footer{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    gap: 1rem;
    text-align: center;
}
.boxeach{
    background: var(--other-color);
    overflow: hidden;
}
.productscontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}
.eachbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    cursor: pointer;
}
.productname{
    font-size: 1.2rem;
    color: var(--text-color);
}
.pricename{
    color: var(--second-color);
    font-weight: 600;
    font-size: 1.1rem;
}


.reseaux{
    display: flex;
    gap: 1rem;
}
.reseaux i{
    cursor: pointer;
}
.animation2{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    opacity: 1;
    backdrop-filter: blur(0);
    transition:.8s ease-in;
    -webkit-transition:.8s ease-in;
    -moz-transition:.8s ease-in;
    -ms-transition:.8s ease-in;
    -o-transition:.8s ease-in;
}
.notsee{
    transform: translate(-250px);
    -webkit-transform: translate(-250px);
    -moz-transform: translate(-250px);
    -ms-transform: translate(-250px);
    -o-transform: translate(-250px);
    opacity: 0;
    backdrop-filter: blur(5px);
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
.openSidebar{
    left:0;
    transition:.9s ease-in;
    -webkit-transition:.9s ease-in;
    -moz-transition:.9s ease-in;
    -ms-transition:.9s ease-in;
    -o-transition:.9s ease-in-out;
}
.rgbaEffect{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    z-index:10;
    cursor:pointer;
}
dialog{
    margin: auto auto;
    border: none;
}
.dialogOpen {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}
.removeDialog{
    display: none;
    pointer-events: none;
    opacity: 0;
}
.dgcontent{
    background:var(--other-color);
    overflow: hidden;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1em;
}
#close{
    position: absolute;
    top:0;
    right: 0;
    background: var(--main-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.texts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    flex-direction: column;
}
.dgcontent a{
    color: var(--text-color);
    background: var(--main-color);
    padding: .5rem 1rem;
    font-weight: 550;
}
.dgcontent p:first-child{
    color: var(--second-color);
}
.dgcontent p:last-child{
    color: var(--main-color);
}